.col-md-12.col-sm-12
  h2.text-center.mt-3
    | Sign up
  .d-flex.justify-content-center
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .form-group
        = f.label :email
        br
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .form-group
        = f.label :password
        - if @minimum_password_length
          em
            | (
            = @minimum_password_length
            |  characters minimum)
        br
        = f.password_field :password, autocomplete: "new-password"
      .form-group
        = f.label :password_confirmation
        br
        = f.password_field :password_confirmation, autocomplete: "new-password"
      = f.submit "Sign up", class: 'btn btn-sm btn-success'
      '
      = render "devise/shared/links"
