.col-md-12.col-sm-12
  h2.text-center.mt-3
    | Change your password
  .d-flex.justify-content-center
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .form-group
        = f.label :password, "New password"
        br
        - if @minimum_password_length
          em
            | (
            = @minimum_password_length
            |  characters minimum)
          br
        = f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control'
      .form-group
        = f.label :password_confirmation, "Confirm new password"
        br
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      = f.submit "Change my password", class: 'btn btn-sm btn-success'
      br
      br
      = render "devise/shared/links"
