.col-md-12.col-sm-12
  h2.text-center.mt-3
    | Forgot your password?
  .d-flex.justify-content-center
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        br
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
      = f.submit "Send me reset password instructions", class: 'btn btn-sm btn-success'
      br
      br
      = render "devise/shared/links"
