.col-md-12.col-sm-12
  h2.text-center.mt-3
    | Log in
  .d-flex.justify-content-center
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email
        br
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
      .form-group
        = f.label :password
        br
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      = f.submit "Log in", class: 'btn btn-sm btn-success'
      br
      br
      = render "devise/shared/links"