/*
 * Navbar
 */

.navbar-brand {
  padding-top: .50rem;
  padding-bottom: .50rem;
  font-size: 1.25rem;
  box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.25);
}

.navbar-title {
  @extend .navbar-brand;
  box-shadow: none;
  letter-spacing: 0.1rem;
}
