table.table.table-striped.table-hover
  thead
    tr
      th #
      th Code
      th Name
      th Price
      th Quantity
      th Vat Total
      th Sub Total
      th Actions
  tbody
    - @products.each do |product|
      tr
        td = product.id
        td
          = product.code
        td
          =product.name
        td = formatted_price(product.price)
        td = product.quantity
        td = product.vat_total
        td = product.total
        td = link_to 'Add To Cart', baskets_path(product_id: product.id), class: 'btn btn-sm btn-info', method: :post
    tr
      td
        span Grand Total
        '
        = current_user.basket&.total_price || 0.0
      td
        = link_to 'Reset', basket_reset_path(basket_id: current_user.basket&.id.to_i), class: 'btn btn-sm btn-info', method: :put

.d-flex.justify-content-end.flex-wrap