nav.navbar.navbar-light.sticky-top.bg-secondary.flex-md-nowrap.p-0
  a.navbar-brand.col-md-2.mr-0.text-white href="#" CheckoutSystem
  -if current_user
    .d-flex.justify-content-around.col-10
      div
      .navbar-nav
        = link_to 'Products', products_path, class: 'nav-link text-white m-0 '
      .navbar-nav.mt-2
        span.text-white style= 'margin-left: 800px;' #{current_user.email}
      .navbar-nav
        = link_to 'Sign out', destroy_user_session_path, data: {confirm: 'Are you sure?', title: 'Sign out'}, class: 'nav-link text-white', method: :delete
