doctype html
html
  head
    title
      | CheckoutSystem
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    #wrap
      = render 'layouts/navbar'
      .container-fluid
        .row
          main.col.pt-3.px-4 role="main"
            #main-content.mb-5
              = flash_messages
              = yield
